body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
 
 .container {
   text-align: center;
 }
  
h1 {
  font-size: 3em;
  color: #d32f2f;
  margin-bottom: 10px;
}

p {
  font-size: 1.4em;
}

 
.yes-button, .no-button {
  font-size: 1.6em;
  padding: 12px 26px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

#nextBtn {
  background-color: #ff8fab;
  color: white;
  font-size: 1.6em;
  padding: 12px 26px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

/* colori */
.yes-button {
  background-color: #4caf50;
  color: white;
}

.no-button {
  background-color: #f44336;
  color: white;
}

/* HOVER */
.yes-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.no-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* CLICK */
.yes-button:active,
.no-button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
  
 .gif_container img {
   max-width: 100%;
   height: auto;
   border-radius: 10px;
   margin-top: 20px;
 }
